body {
    font-size: 1em;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}

h1#top {
    margin-top: 2em;
}

h1, h2 {
    color: purple;
}

h2#orangeHeader {
    color: orange;
}

h3 {
    text-align: center;
}

div#main-heading h1, div#main-heading h2{
    text-align: center;
    color: black;
}

div#header {
    position: fixed;
}

div#header, div#invisible-header {
    width: 100%;
    top:0;
    left: 0;
    background-color: #33cccc;
    margin-bottom: 5em;
}

div#invisible-header {
    visibility: hidden;
}

div#header h2, div#invisible-header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 2em;
}

div#header img, div#invisible-header img {
    float: left;
    margin: 1.2em .6em 0 .75em;
    position: fixed;
}

body {
    background:
        url(../images/tokyo.jpg);    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div#main-content {
    background-color: white;
}

div#divId p {
    font-size: 200%;
}

div#main-content {
    width: 90%;
    margin: 0 auto 0 auto;
}

div#vertical-nav {
    width: 100%;
}

div#vertical-nav ul {
    list-style-type: none;
    padding-left: 0;
}

div#vertical-nav ul li {
    display: inline;
    text-align: center;
    width: 25%;
    float: left;
    padding-bottom: 0.3em;
}

div#vertical-nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.35em;
    transition: color .5s;
}

div#vertical-nav ul li a:hover {
    color: #61a1a1;
} 

div#sidebar {
    width: 29%;
    float: right;
    padding: 0.5em;
    border: 1px solid black;
}

div#content {
    width: 68%;
    float: left;
}

div#three-columns {
    margin-top: 2em;
    width: 96%;
}

div#character-lists {
    width: 30%;
    float: left;
}

div#character-lists li {
    margin: .4em;
}

div#form {
    width: 30%;
    float: left;
    margin: 0 3.5% 0 3.5%;
}

div#table {
    width: 30%;
    float: right;
}

div#subscribe img {
    bottom: 0;
    right: 0;
    position: fixed;
}

div#go-to-top img {
    bottom: 0;
    left: 0;
    position: fixed;
}

div {
    padding: 0 0.2em 0 0.2em;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

p.important {
    font-size: 1.5em;
    font-weight: 900;
}

p.allMargin {
    margin: 1em;
}

p.center {
    text-align: center;
}

img.blockImage {
    display: block;
    margin-left: 5em;
}

img.center {
    display: block;
    margin: 0 auto 0 auto;
}

a {
    color: blue;
}

a:hover {
    color: orange;
}

a:active {
    color: blue;
}

ul.squares {
    list-style-type: square;
}

li.change-background {
    background-color: #33cccc;
}

table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: .25em;
    width: 33.3%;
}

tr.even-row {
    background-color: lightgray;
}

tr.rowHeadings {
    border-bottom: 3px solid black;
}

th:first-child {
    border-right: 3px solid black;
}

blockquote {
    font-size: .8em;
    color: darkslategray;
}

form {
    width: min-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

input[type="text"], textarea {
    margin-bottom: .25em;
    padding: .25em;
    font-size: 1em;
}

input[type="submit"] {
    font-size: 1.25em;
}

iframe#spacjam {
    display: block;
    margin: 0 auto 0 auto;
}

audio.audio-player {
    display: block;
    margin: 0 auto 0 auto;
}

legend {
    font-size: 1.25em;
}

.red {
    color: red;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
}

.italic {
    font-style: italic;
}

.wideWords {
    word-spacing: 1.3em;
}

.closeLetters {
    letter-spacing: -0.1em;
}

.tallLines {
    line-height: 1.5em;
}

.justify {
    text-align: justify;
}

.indent {
    text-indent: 1em;
}

.blueBorder {
    border: 3px dashed blue;
    padding: 1em 2em 3em 4em;
}

.floatLeft {
    float: left;
    margin: 0 .75em .5em 0;
}

.clear {
    clear: both;
}

#divId {
    margin: 0 3em 0 3em;
    font-family: Arial, Helvetica, sans-serif;
}
